{{ define "main" }}
{{ $series := .Params.series }}
{{ $title := .Params.title }}






{{ range $series, $posts := .Site.Taxonomies.series }}
    <div class="card">
        <a href="/series/{{ $series }}">
            <h2>{{ $series }}</h2>
        </a>
     
    </div>
{{ end }}

{{partial "debug" $title}}




  <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">
    <h1 class="text-2xl font-bold mb-2">{{ .Title }}</h1>
  <div class="flex-row m-0 w-4/6 h-screen">

    {{ .Content }}
    
  </div>

  </article>
{{ end }}
